@font-face 
{
    font-family: 'roboto';
    src: url(CSS/Roboto/);
}

body 
{
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  display: flex;
    flex-direction: column;
    justify-content: center;
  
}


/*HEADER*/


#sizelogo
{
   
    width:200px;
    
}

.bloclogo{
    display: flex;
   justify-content: center;
   margin-top: 3%;
}


.logoposition{
    float: left;
    margin-left:10px;
    margin-top: 20px;
}

/*MAIN*/



.photorestaurant{
    object-fit: cover;
    z-index: 0;
}

.generalborder{
    background-color: whitesmoke;

    width:100%;
    border-radius: 4% 4% 0% 0%;
    margin-bottom: -10%;
    
    
  
}

.styletitre{
    font-family: "Shrikhand", cursive;
    font-style: italic; 
    font-weight: 700;
   
    margin-left: 15px;;
   
}

.float{
    float:right;
    margin-top: -42px;
    margin-right: 40px;
    
}

.sizeheart{
    font-size: 20px;
    
}
  

.bordertext{
    
    width: 93%; 
    margin-left: 12px;
    margin-top:15px;
    border-radius: 9px;
    box-shadow: 4px 4px 2px lightgrey;
    background-color: white;
    
 }

 .bordertext {
    
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari et Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }

}
 

.alignprice{
    display: flex;
    justify-content: space-between;
    margin-top: -5%;
    
    
    
}

.menutitle{
    font-weight: 300;
    font-size: 16px;
    border-bottom: 3px solid #99E2D0;
    padding-bottom: 5px;
    width:40px;
    margin-left: 20px;
    margin-top:40px;
}

.policesize{
    font-weight: 600;
    font-size: 16px;
    color:black;

}

.price{
    font-weight: 600;
    font-size: 16px;
    color:black;
    margin-left: 80%;
    margin-top: -10%;
}

.policesize2{
    font-weight: 300;
    color:black;
    padding-left: 3%;
    padding-right: 3%;
}



.box {
    overflow: hidden;
    text-align: center;
    background: #99E2D0;
    width: 0;
    border-radius: 0 8px 8px 0;
    margin-top: -20px;
    align-items: center;
    transition: width 1s;
    
    

   
  }
  
  .check {
    display: inline-block;
    margin-top:20%;
    color: #fff;
    font-size: 25px;
    transform: rotate(360deg);
    transition: transform 500ms;
  }
  
  .bordertext:hover .box {
  width: 90px;
  
}

.bordertext:hover .box > .check {
  transform: rotate(0deg);
}



.margintext{
    margin-left:10px;
   
}

.button{
    background: #FF79DA;
    display:flex;
    flex-direction: column;
    justify-content: center;
    
    border:none;
    font-weight: 600;
    text-align: center;
    border-radius: 40px 40px 40px 40px;  
    width:60%;
    height: 60px;
    box-shadow: 1px 1px 3px lightgrey;
    margin-left: 20%;
    margin-top: 10%;
    margin-bottom: 20%;
    cursor:pointer;
   align-items: center;
   color: white;

     }  

 
    .button:hover{ 
     background: rgb(238, 189, 225) ;
    
    
 }
 
 
    
    

/*FOOTER*/

.borderfooter{

    background-color: #353535;
    color:white;
    
}

.stylelink{
    color: white;
    line-height: 25px;
    font-weight: 400;
   
    
}

li{
    margin-left: -6%;
}

.policestyle{
    list-style: none;
   
}


.stylelogo{
    font-family: "Shrikhand", cursive;
    font-style: italic;
    color: white;
    font-weight: 500;
    margin-left: 1rem;
    padding-top:4%;
    font-size: 20px;
}

.fa-solid{
    padding-right: 2%;
    font-size: 15px;
}

.fa-rotate-15{
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform:rotate(15deg) ;
    transform:rotate(15deg)
}


@media  all and (min-width: 768px) and (max-width: 992px)
{

.bordertext{
    width: 40%;
    
    
}

.photorestaurant{
    width: 100%;
    height: 300px;
}



}


@media  all and (min-width: 992px) 

{

    #sizelogo
    {
        width: 20%;
       
    }

    .bloclogo{
        display: flex;
        justify-content: center;
    }

    .logoposition{
        margin-top: 4%;
    }
    

    .photorestaurant{
        object-fit: cover;
        width: 100%;
        height: 500px;
    }

    .bordertext{
        width: 40%;
        
    }

    .generalborder{
        
        width: 100%;
        align-items: center;
    }

    .button{
        width: 40%;
        margin-left: 40%;
    }

}